.carousel {
  height: 15rem;
  padding: 0 1.2rem;
  overflow: hidden;
  position: relative;

  &:focus-visible {
    border: none;
    outline: none;
  }

  .item {
    height: 15rem;
    position: relative;
    background-color: #ffffa5;
    width: 15rem;
    border: 2px solid black;
    padding: 12px;
    transition: transform 0.5s;
    margin-right: 1em;

    img:hover {
      cursor: pointer;
    }

    button {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }
}
