.form-container {
  min-height: 50vh;
  width: 100%;
  padding: 1rem 2rem;

  form {
    width: 75%;
  }

  .inputs-container {
    margin-bottom: 1rem;
    div {
      display: flex;
      flex-direction: column;
      input {
        height: 2rem;
        max-width: 25vw;
      }
      label {
        padding: 0.2rem;
      }
    }

    .keywords-input {
      position: relative;
      .keywords-saved {
        position: absolute;
        top: -0.8rem;
        left: 6rem;
        color: lightgray;
      }
    }

    .keyword-chips-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 0.5rem;
      p {
        background-color: lightgray;
        padding: 0.5rem;
        width: fit-content;
        border-radius: 12px;
        position: relative;
        margin-right: 1rem;
      }

      p:hover {
        cursor: pointer;
      }
    }
  }

  .inputs-container > div {
    margin-top: 1rem;
  }

  .main-note {
    display: flex;
    flex-direction: column;
    label {
      padding: 0.2rem;
    }
    textarea {
      height: 12rem;
      width: 70%;
      padding: 0.8rem;
    }
  }
}
